<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title> {{ title }}</title>
    {% else %}
      <title>Postcode renderer</title>
    {% endif %}

    <link rel="stylesheet prefetch" href="{{ url_for('static', filename='bulma.min.css') }}">

    <link rel="stylesheet prefetch" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    {% include 'navigation.html' %}


    <div class="columns">
      <div class="column">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        {% block content %}

          <table class="table is-striped is-hoverable  is-fullwidth">

            <thead>
              <th>Location</th>
              <th>Postcode</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </thead>
            <tfoot>
              <th>Location</th>
              <th>Postcode</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tfoot>
            <tbody>


          {% if stores|count != 0 %}
            {% for store in stores %}
              <tr>
                <td><p>{{ store.name}}</p></td>
                <td><p>{{ store.postcode}}</p></td>
                <td><p>{% if store.lat %}{{ store.lat }} {% else %} 0 {% endif %}</p></td>
                <td><p>{% if store.lat %}{{ store.long }} {% else %} 0 {% endif %}</p></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <p>No stores to render :)</p>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
